- content_for :seo_title, 'Jogos Educativos grátis' + (params[:page] && params[:page].to_i > 1 ? " página #{params[:page]}" : '')
- content_for :seo_canonical, root_path
- content_for :seo_description, 'Jogos educativos totalmente gratuitos e online para sua diversão e entretenimento' + (params[:page] && params[:page].to_i > 1 ? ", página #{params[:page]}" : '')

p O site #{link_to 'Jogos Educativos', root_url} é focado totalmente em <strong>jogos educativos</strong> e jogos para educação e entretenimento. Todos os dias são adicionados novos jogos, ampliando nosso conteúdo separado em categorias relacionadas a educação. Temos um total de #{@games.total_count} jogos educativos adicionados até o presente momento.
p Os jogos aqui adicionados não são necessariamente criados pela própria equipe responsável pelo site #{link_to 'Jogos Educativos', root_url}, mas sim ocasionalmente disponibilizados por outros autores. Todo o conteúdo disponível neste site é totalmente gratuito e nunca será necessário pagar para acessá-lo. O único requisito para poder acessar nossos jogos, é ter Javascript habilitado em seu navegador de internet, exceto quando a própria página dê instruções detalhadas sobre como acessá-lo.
p Nosso objetivo é disponibilizar conteúdo que seja, tanto divertido, quanto estimulante para desenvolver as habilidades de raciocínio. O público de todas as idades podem tirar proveito desses jogos para poderem aumentar sua capacidade de memorizar, desenvolver solução lógica e velocidade de raciocínio.

.row
  = render @games

= paginate @games
